body {
    margin:0px;
    color: green;
    font-size: x-large;
    background-color: rgb(235, 127, 88);
    display:flex; 
}

.L1{ color: blue;}

.Navbar{
        background-color: limegreen;
        display: flex;
        
    }
